site_name: hyj0824's Blog
site_url: https://www.hyj.ac.cn/
dev_addr: "0.0.0.0:8000"

# 右上角项目地址
repo_url: https://github.com/hyj0824/MyBlog
repo_name: hyj0824/MyBlog

copyright: Copyleft hyj0824

theme:
  icon:
    repo: fontawesome/brands/git-alt
  name: "material"
  logo: assets/meta/favicon.svg
  favicon: assets/meta/favicon.svg
  custom_dir: overrides
  language: zh
  font:
    text: "LXGW WenKai Screen"

  features:
    - navigation.instant
    - navigation.indexes
    - navigation.top
    # - navigation.footer           # Add 'previous' and 'next' buttons in the footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - search.highlight
    - search.suggest # Display likeliest completion for the last queried word
    - content.code.copy
    - content.code.annotate

  palette: # 亮暗主题
    # # Light Mode
    # - media: "(prefers-color-scheme: light)"
    #   scheme: default
    #   primary: deep orange
    #   accent: indigo
    #   toggle:
    #     icon: material/toggle-switch-off-outline
    #     name: Switch to Dark Mode

    # Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: indigo
      # toggle:
      #   icon: material/toggle-switch
      #   name: Switch to Light Mode

# 满血版
plugins:
  - search
  - meta-descriptions
  - git-revision-date-localized:
      type: datetime
      fallback_to_build_date: true
      locale: zh
      time_zone: Asia/Shanghai
      enable_creation_date: true
  - ezlinks
  - awesome-pages
  - embed_file:
      callouts: true
      custom-attributes: "assets/css/custom_attributes.css"
  - custom-attributes:
      file: "assets/css/custom_attributes.css"
  - tags:
      tags_file: tags.md
  - callouts
  - glightbox

markdown_extensions:
  - nl2br
  - admonition
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
      slugify: !!python/name:pymdownx.slugs.uslugify
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://polyfill.alicdn.com/v3/polyfill.min.js?features=es6
  - assets/js/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - https://cdn.tonycrane.cc/lxgw/lxgwscreen.css # 注册 LXGW WenKai Screen
  - https://unpkg.com/katex@0/dist/katex.min.css
  - assets/css/custom_attributes.css

extra:
  SEO: assets/meta/favicon.svg
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/hyj0824
    - icon: fontawesome/regular/envelope
      link: mailto:2417179808@qq.com
    - icon: fontawesome/brands/steam
      link: https://steamcommunity.com/profiles/76561199220461638/
    - icon: fontawesome/brands/qq
      link: https://qm.qq.com/q/hbtmNzuuGs

# Custom Homepage Elements
home_cover_image: assets/meta/head.webp # This path starts at your root mkdocs directory.
home_tagline: hyj0824's Blog
home_description: |
  一枚SN的蒟蒻
home_gradient_hsla: hsla(0deg,47%,55%,1) # Default Green: hsla(160deg,47%,55%,1)
# Custom Homepage Button(s)
# home_button1_name: View All                 # Comment this parameter out to remove the button.
# home_button1_url: posts_list
# home_button1_theme: md-button md-button--primary # Options: "md-button", "md-button md-button--primary"
# home_button1_icon: image                        # Options: "people", "gear", "image"
# home_button1_blurb: |                            # Short description of this button / section.
#   查看文章列表

# home_button2_name: Tags   # Comment this parameter out to remove the button.
# home_button2_url: tags    # This path starts at your root mkdocs directory.
# home_button2_theme: md-button # Options: "md-button", "md-button md-button--primary"
# home_button2_icon: gear       # Options: "people", "gear", "image"
# home_button2_blurb: |         # Short description of this button / section.
#   按照 tags 查找页面

# Homepage Code Execution
# home_execute_js: | # Javascript to execute when accessing the homepage
#   console.log("This is an example!");
